

:root 
{
    --dark: #111D25;
    --primary: #cba97a;
}

.transition
{
    transition: all .3s ease;       
}

.shadow
{
    box-shadow: 0 10px 20px rgba(0 0 0 / 10%);    
}

html 
{
    font-size: 62.5%;
}

body 
{
    margin: 0;
    // background-color: #ecebea;
    background-color: #fff;
    // color: #8F9495;
    color: #3C4042;
    font-size: 1.4rem;
    font-weight: 300;
}

a
{
    color: inherit;
    
    &:hover 
    {
        color: var(--primary);
    }
}

p 
{
    margin: 0;
}

.relative 
{
    position: relative;
}

.searchLayout
{
    padding-top: 88px;
}

.container 
{
    margin: 0 auto;
    max-width: 1310px;
    padding: 0 3%;
}

.nowrap 
{
    white-space: nowrap;
}

.title, .name 
{
    color: var(--dark);
    font-weight: 500;
    line-height: 130%;
}

.title 
{
    font-size: 3rem;
    font-weight: 600;
    margin: 32px 0;
}

.textLeft
{
    text-align: left;
}

.textCenter
{
    text-align: center;
}

.textRight
{
    text-align: right;
}

.flex 
{
    display: flex;
}

.flexCenter
{
    justify-content: center;
}

.flexAlignCenter
{
    align-items: center;
}

.flexJustifyBetween
{
    justify-content: space-between;
}

.flexJustifyEnd
{
    justify-content: flex-end;
}

.btn 
{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 1.4rem;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #fff;
    color: #3C4042;
    text-decoration: none;
    @extend .transition;
    font-weight: inherit;
}

.btnIcon 
{
    padding: 7px 15px 5px;
    min-width: 35px;
    min-height: 35px;
}

.btnDefault 
{
    border-color: #D6D1CA;
}

.btnDark,
.btnDefault:is(:hover, :focus, :active)
{
    background-color: #111D25;
    color: #fff;
}

.btnPrimary
{
    background-color: #cba97a;
    // color: #191a1c;
    color: #fff;
}

.btnPrimary:is(:hover, :focus, :active)
{
    background-color: #b6905b
}

.btnBig
{
    padding: 18px 28px;
    font-size: 1.6rem;
}

.formControl
{
    height: 47px;
    display: block;
    width: 100%;
    padding: 0 20px;
    font-weight: inherit;
    border-radius: 40px;
    border: none;
    @extend .shadow;
    @extend .transition;
}

.dropdown 
{
    position: relative;
}

.dropdownMenu
{
    position: absolute;
    top: 100%;
    left: 50%;
    opacity: 0;
    transform:translateX(-50%);
    visibility: hidden;
    @extend .transition;
    margin-top: 20px;
    list-style: none;
    background-color: #fff;
    @extend .shadow;
    border-radius: 13px;
    padding: 15px 20px;
    font-size: 1.4rem;
    color: var(--dark);
    text-align: center;
    
    & > li > a
    {
        text-decoration: none;
        font-size: inherit;
        color: inherit;
        display: block;
        padding: 1px 0;
        @extend .transition;
        
        &:hover, &.active
        {
            color: var(--primary);
        }
    }
}

.open
{
    & > .btn 
    {
        opacity: .6;
    }
}

.open .dropdownMenu,
.dropdownMenu.show
{
    margin-top: 5px;
    visibility: visible;
    opacity: 1;
}