.shadowModal {
    position: fixed;
    inset: 0;
    background: rgb(33 33 33 / 80%);
    z-index: 10;
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 10px 10px 60px #00000069;
    padding: 20px;
    border-radius: 20px;
    z-index: 11;

    .modalTitle {
        margin: 0 0 10px;
    }

    .close {
        font-size: 0;
        display: block;
        position: absolute;
        height: 28px;
        width: 28px;
        background-color: #ddd;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        cursor: pointer;
        color: #585858;
        transition: all 0.2s ease;

        &:before,
        &:after {
            display: block;
            content: "";
            height: 1px;
            width: 12px;
            background-color: currentColor;
            position: absolute;
            top: 14px;
            left: 8px;
            transform: rotate(45deg);
            transition: all 0.2s ease;
        }
        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            background-color: #585858;
            color: #fff;
        }
    }

    .image {
        margin-bottom: 13px;
    }

    .modalFooter {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .category {
        margin-top: 10px;
        b {
            font-weight: 500;
            color: var(--dark);
        }
    }

    .link {
        margin-top: 13px;
    }
}

.loading {
    position: fixed;
    inset: 0;
    background: rgb(255 255 255 / 70%);
    z-index: 11;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;

    .loader,
    .loader:after {
        border-radius: 50%;
        width: 10em;
        height: 10em;
    }
    .loader {
        font-size: 6px;
        position: relative;
        text-indent: -9999em;
        border-top: 1.1em solid rgba(0, 0, 0, 0.16);
        border-right: 1.1em solid rgba(0, 0, 0, 0.16);
        border-bottom: 1.1em solid rgba(0, 0, 0, 0.16);
        border-left: 1.1em solid #333;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load8 1.1s infinite linear;
        animation: load8 1.1s infinite linear;
    }
    @-webkit-keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes load8 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}
