.navbar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 35px 3% 30px;
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 10;

    .logo {
        flex-grow: 1;
    }

    &.shadowNavbar {
        // box-shadow: 0 10px 10px rgb(0 0 0 / 5%);
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(256, 256, 256, 1%);
        backdrop-filter: blur(30px);
    }

    .searchForm {
        width: 47px;

        .relative {
            width: 100%;
        }

        .dropdownMenu {
            width: 90vw;
            top: 70px;
        }

        .formControl {
            padding: 13px 10px;
            height: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: #fff;
            font-size: 0;
            width: 100%;
            font-style: italic;
            cursor: pointer;
            text-align: center;

            &.blocked,
            &:focus-visible,
            &:focus {
                font-style: normal;
                cursor: not-allowed;
                opacity: 0.7;
                border: none;
                outline: none;
                justify-content: flex-start;

                & ~ .btn {
                    right: -45px;
                    opacity: 0;
                }
            }
        }

        .btnIcon {
            position: absolute;
            top: 4px;
            right: 4px;
            bottom: 4px;
            aspect-ratio: 1/1;
            padding: 0;
            transition: all 0.3s ease;
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
    }

    .btn-add-place {
        opacity: 0.6;
    }

    .rowCountries {
        max-height: calc(100vh - 140px);

        .scroll {
            max-height: calc(100vh - 140px - 80px);
            overflow-y: auto;
        }

        label {
            border: 2px solid transparent;
            background-color: transparent;
            padding: 7px 10px;
            display: flex;
            align-items: center;
            position: relative;
            left: 0;
            transition: left 0.2s ease;
            margin-bottom: 4px;

            &:hover {
                left: -5px;
            }
        }

        input:checked + label {
            border-color: #cba97a;
        }

        ul {
            padding: 0;
            list-style: none;

            .radius {
                border-radius: 50%;
            }

            img {
                margin-right: 6px;
            }
        }

        .flagList {
            // columns: 4;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .typesList {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0 20px;
            gap: 10px;

            label {
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        .searchForm {
            width: auto;
            flex-basis: 32%;
            max-width: 430px;

            .formControl {
                padding: 13px 45px 13px 23px;
                font-size: 1.4rem;
                text-align: left;

                &:before {
                    display: none;
                }

                &.blocked,
                &:focus-visible,
                &:focus {
                    padding-right: 20px;
                }
            }
            .flagList {
                grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
            }
        }

        .logo {
            flex-grow: 0;
        }
    }
}
