.newsletter {
    background-color: #202123;
    color: #b2b7b8;
    font-size: 16px;
    margin-top: 90px;

    h4 {
        font-size: 32px;
        font-weight: 500;
        color: #fff;
        margin: 0 0 2px;
    }

    p {
        margin-bottom: 16px;
    }

    .container {
        max-width: 760px;
        padding: 45px 20px 60px;
    }

    .formControl {
        font-size: inherit;
        height: 57px;
        padding: 0 25px;
        margin-right: 20px;
        text-indent: 10px;

        &::placeholder {
            font-style: italic;
            color: #3c4042;
        }
    }

    .btn {
        font-size: inherit;
        padding: 0 7%;

        &[disabled] {
            opacity: 0.7;
            pointer-events: none;
            cursor: not-allowed;
        }
    }
}
.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    color: rgb(4 108 78 / 1);
    background-color: rgb(222 247 236 / 1);
    border-radius: 5px;
    padding: 15px 20px;
    // box-shadow: 0 10px 10px rgba(0 0 0 / 0.15);
    border: 1px solid rgb(190 217 205);
    cursor: pointer;
    animation: fadeIn 0.5s;

    button {
        border: none;
        background-color: transparent;
        color: inherit;
        margin-left: 5px;
        cursor: inherit;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
